Repository teebarg/shopit, changes with the labels that .github/labeler.yml gives for each.
All labels: label1, label2, label3, label4, repo

update
  .github/workflows/labeler.yml
Labels: none

update
  .github/workflows/labeler.yml
Labels: none

update
  .github/workflows/labeler.yml
Labels: none

use v4
  .github/workflows/labeler.yml
Labels: none

update
  .github/workflows/labeler.yml
Labels: none

update readme
  README.md
Labels: repo

check for label
  .github/workflows/labeler.yml
Labels: none

check
  .github/workflows/labeler.yml
Labels: none

u
  .github/workflows/labeler.yml
Labels: none

u
  .github/workflows/labeler.yml
Labels: none

update
  .github/workflows/labeler.yml
  frontend/main.js
  js/test.js
  services/api/main.py
  services/go/polling/user.go
  services/go/search/search.go
  services/search/main.py
  services/similarity/main.py
  services/sls/auth/api.py
  services/sls/search/api.py
  tasks/data-etl/task.py
  tasks/data-utils/task.py
  tasks/data-utils/test-task-definition.json
  tasks/integration-tests/task.py
  tasks/member-rec/task.py
  tasks/member-score/task.py
  tasks/notifications/task.py
  tasks/recommendations/task.py
  tasks/reminders/task.py
Labels: label4

u
  .github/workflows/labeler.yml
Labels: none

update
  .github/workflows/labeler.yml
Labels: none

update
  .github/workflows/labeler.yml
Labels: none

u
  .github/workflows/labeler.yml
Labels: none

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
label1:
- api/**

# Add 'label2' to any file changes within 'example2' folder
label2: db/*

# Add label3 to any change to .txt files within the entire repository. Quotation marks are required for the leading asterisk
label3:
- '**/*.txt'

# Add label3 to any change to .txt files within the entire repository. Quotation marks are required for the leading asterisk
label4:
- '**/*.js'

repo:
- '*'
